.product-gallery{
    
    #carousel-custom {
        margin: 20px auto;
        width: 100%;
        height: auto;
        border: 2px solid black;
        padding: 20px;
        background-color: #f2e9e4;
    
        .carousel-outer {
            position: relative;
        }
    
        .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
    
            li {
                background-color: transparent;
                -webkit-border-radius: 0;
                border-radius: 0;
                display: inline-block;
                height: auto;
                margin: 0 !important;
                width: auto;
    
                img {
                    display: block;
                    opacity: 0.9;
                    max-width: 200px;
                    max-height: 200px;
                    width: 100%;
                    height: auto;
                }
    
                .active{
                    img {
                        opacity: 1;
                    }
                }
    
                &:hover{
                    img{
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}
